---
import { Debug } from 'astro/components'; // opcional
---
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" href="/favicon.svg" />
    <title>AVX Informática</title>
  </head>
  <body>
    <!-- slot para el contenido de la página -->
    <slot />
  </body>
</html>
